<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">@Model.NoteTitle</h3>
    </div>
</div>
<div class="row">
    <div class="">
        <h5 class="card-title">
            @Model.NoteTitle
        </h5>
        <p class="card-text">
            @Model.NoteContents
        </p>
        <div>
            <a class="btn btn-primary" asp-controller="Note" asp-action="Index">LIST</a>
        </div>
    </div>
</div>